<% if (post) { %>
    <div class="post">
      <div class="post-header">
        <a href="/singlepost/<%= post.id %>">
          <h3><%= post.title %></h3>
        </a>
        <img
          class="profile_pic"
          src="https://miro.medium.com/max/256/0*vuQRIjTuwmZ7r6em.jpg"
          alt="profiilikas"
        />
      </div>
      <div class="post-content">
        <% if (post.url) { %>
          <img src="<%= post.url %>"/>
        <% } %>
        <h3><%= post.body %></h3>
      </div>
      <button class="like-button" onclick="like(<%= post.id %>)" id="like-btn-<%= post.id %>">
        &#128077; <span><%= post.likes %></span>
      </button>
    </div>
<% } %>