<% if (post) { %>
  <script src="/js/like.js"></script>
  <div class="post">
    <a href="/singlepost/<%= post.id %>">
      <div class="post-header">
        <h3>
          <%= post.title %>
        </h3>
        <img class="profile_pic" src="https://miro.medium.com/max/256/0*vuQRIjTuwmZ7r6em.jpg" alt="profiilikas" />
      </div>
      <div class="post-content">
        <% if (post.url) { %> 
          <img src="<%= post.url %>" />
          <% } %>
            <h3>
              <%= post.body %>
            </h3>
      </div>
    </a>
      <button class="like-button" onclick="like(<%= post.id %>);console.log('mind vajutatu')" id="like-btn-<%= post.id %>">
        &#128077; <span>
          <%= post.likes %>
        </span>
      </button>
    
  </div>
  <% } %>