<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home page</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    Home
    <div class="post">
      <div class="post-header">
        <h3><%= post.title %></h3>
        <img
          class="profile_pic"
          src="https://miro.medium.com/max/256/0*vuQRIjTuwmZ7r6em.jpg"
          alt="profiilikas"
        />
      </div>
      <div class="post-content">
        <img src="<%= post.url %>"/>
        <h3><%= post.body %></h3>
      </div>
      likes: <%= post.likes %>
    </div>
  </body>
</html>
